/* ==================================
            Global CSS
================================== */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: lato;
}

/* ==================================
            Card CSS
================================== */

.cardContainer{
    height: fit-content;
    width: 436px;
    margin: 136px auto 0 auto;
}

/* ==================================
            Card Header CSS
================================== */

.cardHeader{
    
}

.cardHeader .images{
    width: 436px;
    height: 325px;
    background-image: url(../images/white-overlay.svg), url(../images/hero-image-business-card.png);
    background-position: 0px 255px, 0px;
    background-repeat: no-repeat, no-repeat;
    background-size: 436px, cover;
}