/* ==================================
            Global CSS
================================== */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: lato;
}

/* ==================================
            Body CSS
================================== */

body{
    background-color: #F2F5F9;
}

/* ==================================
            Card CSS
================================== */

.cardContainer{
    height: fit-content;
    width: 436px;
    margin: 136px auto 0 auto;
    border-radius: 10px;
    background-color: #FFF;
    box-shadow: 0px 30px 100px 0px #F2F5F9;
}

/* ==================================
            Card Header CSS
================================== */

.cardContainer .cardHeader .images{
    border-radius: 10px;
    width: 436px;
    height: 325px;
    background-image: url(../images/white-overlay.svg), url(../images/hero-image-business-card.png);
    background-position: 0px 255px, 0px;
    background-repeat: no-repeat, no-repeat;
    background-size: 436px, cover;
}

/* ==================================
            Card Body CSS
================================== */

.cardContainer .cardBody{
    margin: 30px;
}

.cardContainer .cardBody h2{
    font-family: poppins;
    font-size: 1.5rem;
    color: #111729;
}

.cardContainer .cardBody p{
    font-family: lato;
    font-size: 1rem;
    color: #677489;
}

/* ==================================
            HR Line CSS
================================== */

.cardContainer .horizontalLine{
    background-color: #F2F5F9;
    height: 1px;
}

